# Binaries
master
worker
!video-converter-worker/
cli
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output coverage
*.out

# Database files
*.db
*.db-shm
*.db-wal

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
